<header>
	<div>
		<br>
		<h2 align="center"><b>BookSearchy</b></h2>
		<h5 align="center">Created by <%= link_to "Ayush Verma", "https://ayushexploring.github.io", target: :_blank %></h5>
		<br>
	</div>
	<div id="banner">
		<div id='search-form'>
			<%= form_tag(books_index_path, method: :get) do %>
				<%= link_to image_tag("home-icon.png"), "https://booksearchy.herokuapp.com/" %>
				<%= text_field_tag :search_term, nil, placeholder: 'Search Book By Title...', size: 45 %>
				<%= image_submit_tag('search-icon.png', class: "search-icon") %>
			<% end %>
		</div>
	</div>
	<br>
	<hr>
</header>